form
    display flex
    flex-direction column
    background-color #fff
    border-radius 8px
    box-shadow 0px 8px 40px rgba(0, 0, 0, 0.1)

    label
        font-family fontBold  
    
    input
        border-radius 4px

    input[type=password]
    input[type=email]
        border 1px solid gray
        padding 8px

        &::placeholder
            color placeholder
        
        &:hover 
            border-color grayDark

    .js-validate-error-label
        font-size 12px
        margin-top -15px
        margin-bottom 15px
        margin-left 8px
        
        @media small
            font-size 14px