.main-form
    max-width 552px
    padding 28px
    @media small
        padding 38px
    @media medium
        padding 48px

    &__title
        font-size 18px
        margin-bottom 20px
        font-family fontBold
        line-height 32px
        @media small
            font-size 20px
        @media medium
            font-size 24px
    
    &__label
        font-size 12px
        line-height 24px
        margin-bottom 4px
        @media small
            font-size 14px

    &__input
        margin-bottom 20px

    &__privacy-policy
        font-size 12px
        margin-bottom 12px
        line-height 16px
        color desc

        a
            font-family fontSemiBold
            text-decoration underline

    &__submit-btn
        background-color btn
        padding 12px
        text-align center
        color #fff
        font-family fontSemiBold
        cursor pointer
        margin-bottom 20px
        
        &:hover
            background-color btnHover

    .autoLogin
        display flex
        flex-wrap wrap
        justify-content space-between

        &__description
            color grayDark
            display flex
            align-items center
            justify-content center
            font-family fontSemiBold
            font-size 12px
            line-height 24px
            position relative
            margin-bottom 20px
            width 100%
            @media small
                font-size 14px
            &:before
                content ''
                display flex
                width 100%
                height 1px
                background-color #D4D4D4
                position absolute
                top 50%
                z-index 1
            
            span
                padding 0 3%
                background-color #fff;
                z-index 2
                max-width 80%
                text-align center
        
        &__link
            display flex
            align-items center
            justify-content center
            width 100%
            margin-bottom 20px
            border-radius 4px
            border 1px solid gray
            font-family fontSemiBold
            color fontColor
            padding 8px 12px
            font-size 14px
            line-height 24px
            img 
                padding-right 4px
            &:hover 
                border-color grayDark
            @media small
                width 30%
