small = 'screen and (min-width: 568px)'
medium = 'screen and (min-width: 768px)'
large = 'screen and (min-width: 992px)'
xlarge = 'screen and (min-width: 1200px)'
xlarge = 'screen and (min-width: 1200px)'