block vars
    - let siteTitle = 'title';
    - let lang = 'ru';

doctype html
html(lang=lang)

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{siteTitle}
    link(type="image/x-icon" rel="shortcut icon" href="build/static/img/favicon.ico")
    link(rel="stylesheet" href="static/css/style.css")

    body 
        block content
    footer
    script(src="static/js/just-validate.js?v=1.0.0")
    script(src="static/js/main.js")